@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1 class="display-4">Example Razor Pages</h1>
    <h2>By Samuel Baker</h2>
</div>
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a class="btn btn-success" 
            href="/InputName">Razor Page Test 1</a> 
            Input Full Name & Email Address
        </li>
        <li class="list-group-item">
            <a class="btn btn-info" 
            href="/ConvertCurrency">Razor Page Test 2</a> 
            Currency Converter
        </li>
    </ol>
</section>